@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

.container {
  display: flex;
}

.content {
  flex-grow: 1;
  padding-left: 60px;
}
